body {
    background-image: url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExOGwwNWdiamwzODRiOWJlamk5YW5vMTBjajZucjFja2NtZDlkNTdweSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/In0Lpu4FVivjISX9HT/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
p {
    background-color: lightyellow;
}
.highlight {
    background-color: lightgreen;
    color: black;
    padding: 20px;
}
#main-header {
    color: blue;
    border-bottom: 2px solid black;
}
a {
    color: purple;
    text-decoration: none;
}
a:hover {
    color: orange;
}
.info-box{
    background-color: lightblue;
}
div {
    border: solid 2px black;
    border-radius: 10px;
}
h1 {
    margin: 30px;
}
.first-div {
    border: dashed 3px green;
}
.second-div {
    border: double 3px blue;
}